:root {
  --primary: rgb(255, 213, 0);
  --bg: black;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  
}

h2,
h3 {
  color: var(--primary);
}

/* Jumbotron */
.container-fluid {
  width:100%; 
  align-content: center;
}

.jumbotron {
  background-image: url(../image/jumbotron.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  position: relative;
  margin: 0;
  padding: 0;
  
}

.textjumbotron {
  color: var(--primary);
  font-size: 4em;
  text-align: center;
  padding: 200px 0 300px;
  text-shadow: 1px 1px 1px gray;
  margin: 0;
  padding: 0;
}

.jumbotron p {
  color: var(--primary);
  font-size: 3em;
  text-align: center;
  /* padding: 200px 0 300px; */
  text-shadow: 1px 1px 1px gray;
}
/* Jumbotron End */

/* Navbar */
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--primary);
}

nav a:hover {
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 2rem;
  
}

nav li {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
}

.brand {
  color: var(--primary);
  font-size: 20px;
}

.brand span {
  color: white;
}

nav {
  background-color:rgb(32, 31, 31);
  padding: 3px;
}
/* Navbar End */

/* Konten */
main {
  padding: 20px;
  display: flex;
  gap: 1rem;
}

.perkenalan {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg);
  border-radius: 5px;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.perkenalan h1 {
  font-size: 45px;
  color: var(--primary);
}

.perkenalan h3 {
  font-size: 23px;
}

.card {
  box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.411);
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

#content {
  flex: 5;
  /* width: 30%; */
  display: flex;
  flex-flow: column nowrap;
}

.card h1 {
  font-size: 45px;
}

.card h3 {
  font-size: 23px;
}

.featured-image {
  width: 100%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;
}

.containerart {
  display: flex;
  gap: 1rem;
}

.containerart h1 {
  font-size: 25px;
}

.containerart h1 span {
  color: var(--primary);
}

.containerart h2 {
  font-size: 23px;
}
/* Konten End */

/* Konten Samping */
aside {
  flex: 1;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

.tableaside {
  text-align: left;
  margin: 0 auto;
}

.tableaside td {
  text-align: right;
}
/* Konten Samping End */

/* Footer */
footer {
  background-color: rgb(32, 31, 31);

}

.footerContainer {
  width: 100%;
  padding: 70px 0px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 20px;
  border-radius: 20%;
}

.socialIcons i {
  font-size: 2em;
  color: var(--bg);
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: var(--primary);
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 10px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

.footerNav ul li a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color:rgb(41, 40, 40);
  padding: 20px;
  text-align: center;
  color:var(--primary);
}

.designed {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
/* Footer End */

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main .containerart {
    flex-flow: column nowrap;
  }
  
  main aside {
    flex-flow: column nowrap;
    align-self: stretch;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}